[submodule "AIwaffle"]
	path = AIwaffle
	url = git@github.com:jimmy-zx/AIwaffle.git
[submodule "server1/static/elm-neural-net"]
	path = server1/static/elm-neural-net
	url = https://github.com/AlienKevin/elm-neural-net.git
